<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "#{@user.last_name} #{@user.first_name} 様、" %>ご登録ありがとうございます！ </h1>
    <p>探求学園Rails専攻 ECサイトでのお買い物をお楽しみください！</p>
  </body>
</html>
