<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      入力内容を修正してください。 <%= pluralize(object.errors.count, "個のエラーが検出されました") %>。
    </div>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
