<main>
  <h1 class="mt-5 text-center">お探しのページは見つかりませんでした。。</h1>
  <div class="text-center mt-4">
    <p>
      アクセスしようとしたページは削除、変更されたか、現在利用できない可能性があります。</br>
      お手数をおかけしますが、探求学園Rails専攻ECサイトのトップ、</br>
      または右上のメニューよりおさがしいただきますようお願いいたします。</br>
    </p>
  </div>
</main>
