<main>
  <h1 class="mt-5 text-center">何らかのエラーが発生しました！</h1>
  <div class="text-center mt-4">
    <p>
      現在、解消へ向けて対応を進めております。</br>
      お急ぎの場合、大変お手数ではございますが下記へお問い合わせをお願いいたします。</br>
      mail：XXXX@XXXX.com</br>
      TEL ：0120-999-999</br>
    </p>
  </div>
</main>
