<% provide(:title, "チャット") %>

  <main>

    <div class="mt-5 container">
      <h1> Chat Room </h1>

      <div id = "messages">
        <% if @messages.present? %>
          <% @messages.each do | message | %>
            <%= render "messages/message", message: message %>
          <% end %>
        <% end %>
      </div>

      <form>
        <label>Say Something:</label><br>
        <input type="text" data-behavior="room_speaker">
    </div>
  </main>
